[*]
indent_style = tab
indent_size = 4
font_family = Source Code Pro
font_size = 16
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


[*.md]
trim_trailing_whitespace = false
