.timecop {
    .inset-panel {
        .panel-heading {
            color: @text-color-highlight;
        }
    }
	.timecop-panel {
		background: @theme-background-color;
	}
}
.text-info {
    color: fade(@theme-blue, 80%);
}
