 
@import "ui-mixins.less";
@import "octicon-mixins";

:root {
    font-size: @font-size + 2px;
}

* {
    box-sizing: border-box;
}

atom-workspace {
    background-color: @theme-background-color;
}

background-tips {
    color: @theme-background-color-selected;
}


kbd {
    background: fade(@text-color, 50%);
    color: @theme-background-color;
    letter-spacing: 2px;

    .selected & {
        background: fade(@theme-magenta, 70%);
        color: @theme-blue;
    }
    + kbd {
        margin-left: 7px;
    }
}
