
.btn-background (@color, @hover-color, @selected-color, @text-color) {
  background-image: -webkit-linear-gradient(top, @color, darken(@color, 7.5%));
  color: lighten(@theme-syntax-text-color, 3%);
	border: 1px outset lighten(@color, 4%);
	border-radius: 6px;
  font-size: @theme-font-size;
  font-weight: 400;
	box-shadow: inset -1px -2px 10px rgba(0,0,0,0.3);
  text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  &:active {
    // background: darken(@color, 4%);
    background-image: -webkit-linear-gradient(top, @color, darken(@color, 5%));
    border-style: inset;
    box-shadow: inset 0 0 0 1px darken(@color, 8%), inset 0 0px 16px darken(@color, 8%);
    &:hover {
      background-image: -webkit-linear-gradient(top, lighten(@color, 2%), darken(@color, 5%));
      border-style: inset;
      box-shadow: inset 0 0 0 1px darken(@color, 8%), inset 0 0px 16px darken(@color, 8%);
    }
  }
  &:focus {
    color: @button-text-color;
  }
  &:hover {
    color: @text-color-highlight;
		border: 1px outset lighten(@color, 6%);
    text-shadow: 1px 3px 4px rgba(0,0,0,0.35);
  }

  &.selected,
  &.selected:hover {
    color: rgba(255,255,255,0.85);
		border: 1px inset darken(@gray, 5%) !important;
		text-shadow: 0 1px 4px rgba(0,0,0,0.7);
    box-shadow: inset 0 0 0 1px darken(@color, 20%),inset 0 5px 30px darken(@color, 10%);
    &:hover, &:active {
      background-image: -webkit-radial-gradient(mix(lighten(@button-background-color-hover, 10%), @hover-color, 65%), darken(@hover-color, 5%));
    }
  }
}

.btn-variant (@color) {
  @bg: darken(@color, 10%);
  @hover: @color;
  @selected: @color;
  .btn-background(@bg, @hover, @selected, @text-color-highlight);
}

.btn {
  .btn-background(lighten(@button-background-color, 2%), @button-background-color-hover, @button-background-color-selected, @text-color);
  color: rgba(255,255,255,0.95) !important;
  font-size: @theme-font-size;
  height: 29px;
  border: 1px outset lighten(@theme-background-color-dark, 12%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	&.disabled {
		// background: -webkit-linear-gradient(fade(lighten(@theme-background-color-dark, 0%), 10%), darken(fade(@theme-background-color-dark, 60%), 7%)) !important;
		color: darken(@white, 60%) !important;
    border: 1px outset darken(@theme-background-color-dark, 2%) !important;
		&:hover {
			color: darken(@white, 40%) !important;
      border: 1px outset darken(@theme-background-color-dark, 2%) !important;
		}
	}
  &:hover {
    .btn-background(lighten(@button-background-color, 4%), @button-background-color-hover, @button-background-color-selected, @text-color);
    color: rgba(255,255,255,0.8);
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  }
  &:focus, &:active:focus {
    outline: transparent !important;
  }
}

.btn.disabled, .btn[disabled] {
  background: -webkit-linear-gradient(fade(lighten(@theme-background-color-dark, 0%), 10%), darken(fade(@theme-background-color-dark, 60%), 7%)) !important;
  color: #888 !important;
  border: 1px outset #333 !important;
  &:hover {
    border: 1px outset #333 !important;
  }
}

.btn.btn-primary { .btn-variant(darken(@background-color-info, 5%)); }
.btn.btn-info { .btn-variant(@background-color-info); }
.btn.btn-success { .btn-variant(@background-color-success); }
.btn.btn-warning { .btn-variant(@background-color-warning); }
.btn.btn-error { .btn-variant(@background-color-error); }

// .btn.btn-primary {
//   color: rgba(255,255,255,0.875);
// }

.btn-group {
  .btn {
    border-radius: 2px;
    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
  > .btn {
    border-left: 1px solid #3e3e3e;
    border-right: 1px solid #1e1e1e;
  } 
}

.btn.icon {
  font-size: 1em;
  &::before {
    position: relative;
    top: 1.5px;
    padding-right: 2px;
  }
}

.caret {
  border-top: 5px solid @white;
  margin-top: -1px;
}
