@import "icon-variables";
@import "icon-font";
@import "ui-mixins";


// - - - - - - - - - - - - - - -
// ICONS BASED ON FILE EXTENSION
// - - - - - - - - - - - - - - -

[data-atomic-design-ui-custom-icons="true"] & {

    // DEFAULT TAB ICON
    tab-bar tabs-tab .title, .tab-bar .tab .title {
        position: relative;
        display: inline-block;
        // top: -1px;
        // left: -2px;
        padding: 0;
        width: 100%;
        &:before {
            font-family: iconFont;
            content: @icon-default;
            font-size: 14px;
            position: relative;
            top: 2px;
            left: 5px;
			right: 6px;
			margin-right: 6px;
            color: @color-default;
        }
    }

    tab-bar tabs-tab.active .title, .tab-bar .tab.active .title {
        top: -2px;
    }
}

// HIDDEN / IGNORED STYLES

// .status-ignored {
//
//     @{icons-enabled} .header.list-item:before {
//         color: @text-color-ignored;
//     }
//
//     .name.icon {
//         color: @text-color-ignored;
//
//         @{icons-enabled} &:before {
//             color: @text-color-ignored;
//         }
//     }
// }


[data-atomic-design-ui-custom-icons="true"] & {

  // Assembly
  .icon-tab('.s', 'assembly', 15px, 1px, 8px, 0px, 0px);
  .icon-tree('.s', 'assembly', 16px, 3px, 10px, 3px, 0px);
  .icon-tab('.asm', 'assembly', 15px, 1px, 8px, 0px, 0px);
  .icon-tree('.asm', 'assembly', 16px, 3px, 10px, 3px, 0px);

  // Bash
  .icon-tab('.bash', 'bash', 16px, 3px, 6px, -2px, 0px);
  .icon-tree('.bash', 'bash', 15px, 3px, 10px, 2px, 0px);
	.icon-tab('.sh', 'bash', 16px, 3px, 6px, -2px, 0px);
  .icon-tree('.sh', 'bash', 15px, 3px, 10px, 2px, 0px);

  // Win Script
  .icon-tab('.bat', 'bash', 16px, 3px, 6px, -2px, 0px);
  .icon-tree('.bat', 'win', 15px, 3px, 10px, 2px, 0px);
  .icon-tab('.cmd', 'bash', 16px, 3px, 6px, -2px, 0px);
  .icon-tree('.cmd', 'win', 15px, 3px, 10px, 2px, 0px);

  // Bin
  .icon-tab('.bin', 'bin', 18px, 3px, 5px, -2px, 0px);
  .icon-tree('.bin', 'bin', 18px, 3px, 10px, 1px, 0px);

  .icon-tab('.epub', 'book', 16px, 5px, 5px, -1px, 0px);
  .icon-tree('.epub', 'book', 15px, 4px, 8px, 5px, 0px);
  .icon-tab('.lit', 'book', 16px, 5px, 5px, -1px, 0px);
  .icon-tree('.lit', 'book', 15px, 4px, 8px, 5px, 0px);
  .icon-tab('.azw', 'book', 16px, 5px, 5px, -1px, 0px);
  .icon-tree('.azw', 'book', 15px, 4px, 8px, 5px, 0px);

  // C
  .icon-tab('.c', 'c', 16px, 5px, 5px, -1px, 0px);
  .icon-tree('.c', 'c', 15px, 4px, 8px, 5px, 0px);

  // Coffescript
  .icon-tab('.coffee', 'coffee', 19px,  3px, 1px, -3px, 0px);
  .icon-tree('.coffee', 'coffee', 19px, 3px, 11px, 1px, 0px);

  // ColdFusion
  .icon-tab('.cfm', 'coldfusion', 19px, 4px, 3px, -2px, 0px);
  .icon-tree('.cfm', 'coldfusion', 19px, 3px, 10px, 2px, 0px);
  .icon-tab('.cfc', 'coldfusion', 19px, 4px, 3px, -2px, 0px);
  .icon-tree('.cfc', 'coldfusion', 19px, 3px, 10px, 2px, 0px);

  // C++
  .icon-tab('.cpp', 'cpp', 16px, 5px, 5px, -1px, 0px);
  .icon-tree('.cpp', 'cpp', 15px, 4px, 8px, 5px, 0px);

  // C++ Header
  .icon-tab('.h', 'cpp-header', 16px, 5px, 5px, -1px, 0px);
  .icon-tree('.h', 'cpp-header', 15px, 4px, 8px, 5px, 0px);

  // C#
  .icon-tab('.cs', 'csharp', 16px, 4px, 6px, -2px, 0px);
  .icon-tree('.cs', 'csharp', 15px, 4px, 10px, 4px, 0px);

  // CSS
  .icon-tab('.css', 'css', 14px, 2px, 2px, -4px, 0px);
  .icon-tree('.css', 'css', 15px, 3px, 10px, 2px, 0px);
  .icon-tab('.min.css', 'css', 14px, 2px, 2px, -4px, 0px);
  .icon-tree('.min.css', 'css', 15px, 3px, 10px, 2px, 0px);

  // CSON
  .icon-tab('.cson', 'json', 20px, 6px, -3px, -5px, 0px);
  .icon-tree('.cson', 'json', 20px, 5px, 10px, 3px, 0px);

  // Database
  .icon-tab('.db', 'database', 16px, 4px, -3px, -5px, 0px);
  .icon-tree('.db', 'database', 16px, 3px, 10px, 2px, 0px);

  // DLL
  .icon-tab('.dll', 'dll', 20px, 6px, -3px, -5px, 0px);
  .icon-tree('.dll', 'dll', 20px, 5px, 10px, 3px, 0px);

  // EditorConfig
  .icon-tab('.editorconfig', 'editorconfig', 14px, 2px, 7px, 0px, 1px);
  .icon-tree('.editorconfig', 'editorconfig', 14px, 3px, 8px, 4px, 0px);

  // EJS
  .icon-tab('.ejs', 'ejs', 23px, 6px, 1px, -5px, 0px);
  .icon-tree('.ejs', 'ejs', 24px, 7px, 5px, -1px, 0px);

  // Gimp
  .icon-tab('.xcf', 'gimp', 19px, 5px, -3px, -6px, 0px);
  .icon-tree('.xcf', 'gimp', 19px, 5px, 10px, 1px, 0px);

  // Favicon
  .icon-tab('.ico', 'ico', 17px, 3px, 3px, -4px, 0px);
  .icon-tree('.ico', 'ico', 15px, 2px, 10px, 2px, 0px);

  // Golang
  .icon-tab('.go', 'go', 16px, 3px, 3px, -5px, 0px);
  .icon-tree('.go', 'go', 16px, 4px, 10px, 2px, 0px);

  // Haml
  .icon-tab('.haml', 'haml', 24px, 5px, -3px, -6px, 0px);
  .icon-tree('.haml', 'haml', 23px, 6px, 8px, -1px, 0px);

  // Handlebars
  .icon-tab('.hbs', 'handlebars', 24px, 6px, 0px, -5px, 0px);
  .icon-tree('.hbs', 'handlebars', 23px, 7px, 8px, -1px, 0px);
  .icon-tab('.handlebars', 'handlebars', 24px, 6px, 0px, -5px, 0px);
  .icon-tree('.handlebars', 'handlebars', 23px, 7px, 8px, -1px, 0px);
  .icon-tab('.hjs', 'handlebars', 24px, 6px, 0px, -5px, 0px);
  .icon-tree('.hjs', 'handlebars', 23px, 7px, 8px, -1px, 0px);

  // Gitignore
  .icon-tab('.gitignore', 'gitignore', 20px, 4px, 3px, -3px, 0px);
  .icon-tree('.gitignore', 'gitignore', 20px, 6px, 6px, 1px, 0px);
	.icon-tab('.gitmodules', 'git', 16px, 4px, 1px, -5px, 0px);
  .icon-tree('.gitmodules', 'git', 16px, 5px, 10px, 2px, 0px);

  // Hidden files
  .icon-tab('.config', 'hidden', 16px, 4px, -10px, -18px, 0px);
  .icon-tree('.config', 'hidden', 16px, 4px, 10px, 3px, 0px);
  .icon-tab('.DS_Store', 'hidden', 16px, 4px, -10px, -18px, 0px);
  .icon-tree('.DS_Store', 'hidden', 16px, 4px, 10px, 3px, 0px);

  // HTML
  .icon-tab('.html', 'html', 14px, 2px, 4px, -2px, 0px);
  .icon-tree('.html', 'html', 15px, 3px, 10px, 4px, 0px);

	// INI
	.icon-tab('.ini', 'code', 14px, 2px, 4px, -2px, 0px);
  .icon-tree('.ini', 'code', 15px, 2px, 10px, 2px, 0px);
	.icon-tab('.inc', 'code', 14px, 2px, 4px, -2px, 0px);
  .icon-tree('.inc', 'code', 15px, 2px, 10px, 2px, 0px);

	// Java
  .icon-tab('.java', 'java', 20px, 4px, 1px, -2px, 0px);
  .icon-tree('.java', 'java', 20px, 5px, 10px, 3px, 0px);
  .icon-tab('.jar', 'java', 20px, 4px, 1px, -2px, 0px);
  .icon-tree('.jar', 'java', 20px, 5px, 10px, 3px, 0px);

  // Javascript
  .icon-tab('.js', 'javascript', 17px, 3.5px, 5px, -4px, 0px);
  .icon-tree('.js', 'javascript', 17px, 4px, 10px, 1px, 0px);
  .icon-tab('.min.js', 'javascript', 17px, 3.5px, 5px, -4px, 0px);
  .icon-tree('.min.js', 'javascript', 17px, 4px, 10px, 1px, 0px);
  .icon-tab('.es', 'javascript', 17px, 3.5px, 5px, -4px, 0px);
  .icon-tree('.es', 'javascript', 17px, 4px, 10px, 1px, 0px);
  .icon-tab('.es6', 'javascript', 17px, 3.5px, 5px, -4px, 0px);
  .icon-tree('.es6', 'javascript', 17px, 4px, 10px, 1px, 0px);

  // JSON
  .icon-tab('.json', 'json', 16px, 2px, 4px, -4px, 0px);
  .icon-tree('.json', 'json', 16px, 3px, 10px, 2px, 0px);
  .icon-tab('.cson', 'json', 16px, 2px, 4px, -4px, 0px);
  .icon-tree('.cson', 'json', 16px, 3px, 10px, 2px, 0px);

  // Julia
  // .icon-tab('.jl', 'jl', 18px, 4px, 3px, -3px, 0px);
  // .icon-tree('.jl', 'jl', 18px, 4px, 2px, -3px, 0px);

  // LESS
  .icon-tab('.less', 'less', 14px, 2px, 6px, -1px, 0px);
  .icon-tree('.less', 'less', 14px, 2px, 10px, 2px, 0px);

	// Lua
  .icon-tab('.lua', 'lua', 19px, 4px, 1px, -6px, 0px);
  .icon-tree('.lua', 'lua', 19px, 4px, 10px, 0px, 0px);

	// Makefile
	.icon-tab('Makefile', 'makefile', 13px, 1px, -3px, -12px, 0px);
	.icon-tree('Makefile', 'makefile', 13px, 1px, 10px, 2px, 0px);

  // Markdown
  .icon-tab('.md', 'markdown', 20px, 4.5px, 4px, -4px, 0px);
  .icon-tree('.md', 'markdown', 20px, 6px, 9px, -1px, 0px);

  // Override for Markdown package
  tab-bar tabs-tab .title.icon-markdown[data-name*=".md"], .tab-bar .tab .title.icon-markdown[data-name*=".md"] {
      top: 0;
  }

  // Music
  .icon-tab('.mp3', 'music', 15px, 2px, 5px, -3px, 0px);
  .icon-tree('.mp3', 'music', 15px, 3px, 10px, 2px, 0px);
  .icon-tab('.wav', 'music', 15px, 2px, 5px, -3px, 0px);
  .icon-tree('.wav', 'music', 15px, 3px, 10px, 2px, 0px);
  .icon-tab('.aiff', 'music', 15px, 2px, 5px, -3px, 0px);
  .icon-tree('.aiff', 'music', 15px, 3px, 10px, 2px, 0px);

  // MongoDB
  .icon-tab('.bson', 'mongodb', 19px, 5px, -1px, -4px, 0px);
  .icon-tree('.bson', 'mongodb', 19px, 5px, 9px, 0px, 0px);
  .icon-tab('.ns', 'mongodb', 19px, 5px, -1px, -4px, 0px);
  .icon-tree('.ns', 'mongodb', 19px, 5px, 9px, 0px, 0px);

  // Mustache
  .icon-tab('.mustache', 'mustache', 24px, 6px, 0px, -5px, 0px);
  .icon-tree('.mustache', 'mustache', 23px, 7px, 10px, -1px, 0px);
  .icon-tab('.mu', 'mustache', 24px, 6px, 0px, -5px, 0px);
  .icon-tree('.mu', 'mustache', 23px, 7px, 10px, -1px, 0px);
  .icon-tab('.stache', 'mustache', 24px, 6px, 0px, -5px, 0px);
  .icon-tree('.stache', 'mustache', 23px, 7px, 10px, -1px, 0px);

  // NodeJS
  .icon-tab('.node', 'node', 21px, 7px, 2px, -2px, 0px);
  .icon-tree('.node', 'node', 21px, 7px, 8px, 2px, 0px);

  // NPM
  .icon-tab('npm-debug.log', 'npm', 20px, 6px, 0px, -5px, 0px);
  .icon-tree('npm-debug.log', 'npm', 20px, 6px, 10px, 3px, 0px);
  .icon-tab('.npmignore', 'npmignore', 13px, 1px, 3px, -1px, 0px);
  .icon-tree('.npmignore', 'npmignore', 13px, 2px, 9px, 4px, 0px);

  // Nupkg
  .icon-tab('.nupkg', 'nupkg', 16px, 4px, 1px, -5px, 0px);
  .icon-tree('.nupkg', 'nupkg', 16px, 4px, 10px, 2px, 0px);

  // Objective C
  .icon-tab('.m', 'objective', 18px, 5px, 1px, -3px, 0px);
  .icon-tree('.m', 'objective', 18px, 7px, 10px, 2px, 0px);

	// Other
	// .icon-tab('.ini', 'default', 17px, 3px, -9px, -16px, 0px);
  // .icon-tree('.ini', 'default', 17px, 2px, 2px, -6px, 0px);

  // Out
  .icon-tab('.out', 'out', 14px, 3px, -9px, -16px, 0px);
  .icon-tree('.out', 'out', 14px, 2px, 10px, 2px, 0px);

  // Perl
  .icon-tab('.pl', 'perl', 17px, 6px, 5px, -2px, 0px);
  .icon-tree('.pl', 'perl', 16px, 4px, 10px, 1px, 0px);

	// PHP
  .icon-tab('.php', 'php', 17px, 3px, 4px, -3px, 0px);
  .icon-tree('.php', 'php', 18px, 5px, 10px, 1px, 0px);

  // Powershell
  .icon-tab('.ps1', 'powershell', 16px, 2px, 6px, -4px, 0px);
  .icon-tree('.ps1', 'powershell', 15px, 3px, 10px, 2px, 0px);
  .icon-tab('.psm1', 'powershell', 16px, 2px, 6px, -4px, 0px);
  .icon-tree('.psm1', 'powershell', 15px, 3px, 10px, 2px, 0px);
  .icon-tab('.psd1', 'powershell', 16px, 2px, 6px, -4px, 0px);
  .icon-tree('.psd1', 'powershell', 15px, 3px, 10px, 2px, 0px);

  // Procfile
  .icon-tab('procfile', 'heroku', 20px, 7px, -1px, -2px, 0px);
  .icon-tree('procfile', 'heroku', 19px, 7px, 10px, 5px, 0px);
  .icon-tab('Procfile', 'heroku', 20px, 7px, -1px, -2px, 0px);
  .icon-tree('Procfile', 'heroku', 19px, 7px, 10px, 5px, 0px);
  .icon-tab('PROCFILE', 'heroku', 20px, 7px, -1px, -2px, 0px);
  .icon-tree('PROCFILE', 'heroku', 19px, 7px, 10px, 5px, 0px);

  // PDF
  .icon-tab('.pdf', 'pdf', 15px, 2px, 8px, 0px, 0px);
  .icon-tree('.pdf', 'pdf', 15px, 3px, 10px, 3px, 0px);

  // Python
  .icon-tab('.py', 'python', 16px, 4px, 5px, -3px, 0px);
  .icon-tree('.py', 'python', 16px, 4px, 10px, 2px, 0px);
	.icon-tab('.pyc', 'pyc', 16px, 4px, 5px, -3px, 0px);
  .icon-tree('.pyc', 'pyc', 16px, 4px, 10px, 2px, 0px);
	.icon-tab('.pyo', 'pyc', 16px, 4px, 5px, -3px, 0px);
  .icon-tree('.pyo', 'pyc', 16px, 4px, 10px, 2px, 0px);
	.icon-tab('.pyd', 'pyc', 16px, 4px, 5px, -3px, 0px);
  .icon-tree('.pyd', 'pyc', 16px, 4px, 10px, 2px, 0px);

  // Rails
  .icon-tab('.erb', 'rails', 16px, 2px, 4px, -4px, 0px);
  .icon-tree('.erb', 'rails', 15px, 2px, 8px, 4px, 0px);

  // Rainmeter
  .icon-tab('.rmskin', 'rainmeter', 15px, 2px, 2px, -4px, 0px);
  .icon-tree('.rmskin', 'rainmeter', 16px, 2px, 10px, 2px, 0px);

  // React
  .icon-tab('.jsx', 'react', 18px, 4px, 3px, -3px, 0px);
  .icon-tree('.jsx', 'react', 19px, 5px, 10px, 1px, 0px);
  .icon-tab('.cjsx', 'react', 18px, 4px, 3px, -3px, 0px);
  .icon-tree('.cjsx', 'react', 19px, 5px, 10px, 1px, 0px);

  // Ruby
  .icon-tab('.rb', 'ruby', 18px, 3px, 4px, -4px, 0px);
  .icon-tree('.rb', 'ruby', 17px, 3px, 10px, 2px, 0px);

  // Sass
  .icon-tab('.sass', 'sass', 15px, 2px, 3px, -1px, 0px);
  .icon-tree('.sass', 'sass', 14px, 2px, 10px, 4px, 0px);
  .icon-tab('.min.sass', 'sass', 15px, 2px, 3px, -5px, 0px);
  .icon-tree('.min.sass', 'sass', 14px, 2px, 10px, 4px, 0px);
  .icon-tab('.scss', 'sass', 15px, 2px, 3px, -1px, 0px);
  .icon-tree('.scss', 'sass', 14px, 2px, 10px, 4px, 0px);

  // Shortcut
  .icon-tab('.lnk', 'shortcut', 16px, 2px, 3px, -5px, 0px);
  .icon-tree('.Lnk', 'shortcut', 16px, 2px, 10px, 4px, 0px);

  // SQL
  .icon-tab('.sql', 'sql', 15px, 3px, 3px, -3px, 0px);
  .icon-tree('.sql', 'sql', 15px, 3px, 10px, 3px, 0px);

  // SVG
  .icon-tab('.svg', 'svg', 17px, 1px, 4px, -3px, 0px);
  .icon-tree('.svg', 'svg', 17px, 2px, 10px, 1px, 0px);
  .icon-tab('.svgx', 'svg', 17px, 1px, 4px, -3px, 0px);
  .icon-tree('.svgx', 'svg', 17px, 3px, 10px, 1px, 0px);

  // TypeScript
  .icon-tab('.ts', 'typescript', 26px, 8px, 0px, -5px, -3px);
  .icon-tree('.ts', 'typescript', 26px, 8px, 10px, -3px, -3px);

  // Fonts
  .icon-tab('.ttf', 'font', 20px, 3px, 4px, -5px, 0px);
  .icon-tree('.ttf', 'font', 19px, 3px, 0px, 2px, 0px);
  .icon-tab('.otf', 'font', 20px, 3px, 4px, -5px, 0px);
  .icon-tree('.otf', 'font', 19px, 3px, 0px, 2px, 0px);
	.icon-tab('.woff', 'font', 20px, 3px, 4px, -5px, 0px);
  .icon-tree('.woff', 'font', 19px, 5px, 0px, 2px, 0px);
	.icon-tab('.eot', 'font', 20px, 3px, 4px, -5px, 0px);
  .icon-tree('.eot', 'font', 19px, 3px, 0px, 2px, 0px);

	// Txt
	.icon-tab('.txt', 'text', 14px, 2px, 8px, 0px, 0px);
  .icon-tree('.txt', 'text', 15px, 3px, 10px, 3px, 0px);
	.icon-tab('.text', 'text', 14px, 2px, 10px, 0px, 0px);
  .icon-tree('.text', 'text', 15px, 3px, 10px, 3px, 0px);

  // XML
  .icon-tab('.xml', 'xml', 21px, 5px, 2px, -3px, 0px);
  .icon-tree('.xml', 'xml', 22px, 5px, 10px, -1px, 0px);

  // YAML
  .icon-tab('.yml', 'yml', 18px, 3px, 3px, 0px, 0px);
  .icon-tree('.yml', 'yml', 22px, 5px, 10px, 2px, 0px);
  .icon-tab('.yaml', 'yml', 18px, 3px, 3px, 0px, 0px);
  .icon-tree('.yaml', 'yml', 22px, 5px, 10px, 3px, 0px);

	// Archive
  .icon-tab('.zip', 'archive', 14px, 2px, 4px, -4px, 0px);
  .icon-tree('.zip', 'archive', 13px, 2px, 10px, 5px, 0px);
	.icon-tab('.7z', 'archive', 14px, 2px, 4px, -4px, 0px);
  .icon-tree('.7z', 'archive', 13px, 2px, 10px, 5px, 0px);
	.icon-tab('.rar', 'archive', 14px, 2px, 4px, -4px, 0px);
	.icon-tree('.rar', 'archive', 13px, 2px, 10px, 5px, 0px);
	.icon-tab('.tar', 'archive', 14px, 2px, 4px, -4px, 0px);
  .icon-tree('.tar', 'archive', 13px, 2px, 10px, 5px, 0px);

  // IMAGES
  .icon-tab('.ai', 'illustrator', 16px, 3px, 5px, -3px, 0px);
  .icon-tree('.ai', 'illustrator', 16px, 3px, 10px, 2px, 0px);
  .icon-tab('.bpm', 'img', 16px, 3px, 4px, -2px, 0px);
  .icon-tree('.bpm', 'img', 15px, 3px, 13px, 2px, 0px);
  .icon-tab('.gif', 'img', 16px, 3px, 4px, -2px, 0px);
  .icon-tree('.gif', 'img', 15px, 3px, 13px, 2px, 0px);
  .icon-tab('.jpeg', 'img', 16px, 3px, 4px, -2px, 0px);
  .icon-tree('.jpeg', 'img', 15px, 3px, 13px, 2px, 0px);
  .icon-tab('.jpg', 'img', 16px, 3px, 4px, -2px, 0px);
  .icon-tree('.jpg', 'img', 15px, 3px, 13px, 2px, 0px);
  .icon-tab('.png', 'img', 16px, 3px, 4px, -2px, 0px);
  .icon-tree('.png', 'img', 15px, 3px, 13px, 2px, 0px);
  .icon-tab('.psd', 'photoshop', 16px, 3px, 5px, -3px, 0px);
  .icon-tree('.psd', 'photoshop', 16px, 3px, 10px, 2px, 0px);

	// Videos
	.icon-tab('.mp4', 'video', 16px, 3px, 4px, -2px, 0px);
	.icon-tree('.mp4', 'video', 16px, 4px, 9px, 2px, 0px);
	.icon-tab('.flv', 'video', 16px, 3px, 4px, -2px, 0px);
	.icon-tree('.flv', 'video', 16px, 4px, 9px, 2px, 0px);
	.icon-tab('.avi', 'video', 16px, 3px, 4px, -2px, 0px);
	.icon-tree('.avi', 'video', 16px, 4px, 9px, 2px, 0px);

  // THESE NEED TO COME AFTER SO THEY DON'T GET OVERRIDDEN!

  // Bower
  .icon-tab('bower.json', 'bower', 25px, 7px, -1px, -5px, 0px);
  .icon-tree('bower.json', 'bower', 25px, 7px, 9px, -1px, 0px);
  .icon-tab('Bower.json', 'bower', 25px, 7px, -1px, -5px, 0px);
  .icon-tree('Bower.json', 'bower', 25px, 7px, 9px, -1px, 0px);
  .icon-tab('BOWER.json', 'bower', 25px, 7px, -1px, -5px, 0px);
  .icon-tree('BOWER.json', 'bower', 25px, 7px, 9px, -1px, 0px);
  .icon-tab('.bowerrc', 'bower', 25px, 7px, -1px, -5px, 0px);
  .icon-tree('.bowerrc', 'bower', 25px, 7px, 10px, -1px, 0px);

  // Gemfile
  .icon-tab('Gemfile', 'gem', 18px, 3px, 4px, -4px, 0px);
  .icon-tree('Gemfile', 'gem', 17px, 3px, 10px, 2px, 0px);
  .icon-tab('.gemspec', 'gem', 18px, 3px, 4px, -4px, 0px);
  .icon-tree('.gemspec', 'gem', 17px, 3px, 10px, 2px, 0px);
  .icon-tab('Gemfile.lock', 'gem-lock', 18px, 3px, 4px, -4px, 0px);
  .icon-tree('Gemfile.lock', 'gem-lock', 17px, 3px, 10px, 2px, 0px);

  // Grunt
  .icon-tab('gruntfile.js', 'grunt', 16px, 4px, -5px, -11px, 0px);
  .icon-tree('gruntfile.js', 'grunt', 17px, 4px, 10px, 1px, 0px);
  .icon-tab('Gruntfile.js', 'grunt', 16px, 4px, -5px, -11px, 0px);
  .icon-tree('Gruntfile.js', 'grunt', 17px, 4px, 10px, 1px, 0px);
  .icon-tab('GruntFile.js', 'grunt', 16px, 4px, -5px, -11px, 0px);
  .icon-tree('GruntFile.js', 'grunt', 17px, 4px, 10px, 1px, 0px);
  .icon-tab('GRUNTFILE.js', 'grunt', 16px, 4px, -5px, -11px, 0px);
  .icon-tree('GRUNTFILE.js', 'grunt', 17px, 4px, 10px, 1px, 0px);
  .icon-tab('gruntfile.coffee', 'grunt', 16px, 4px, -5px, -11px, 0px);
  .icon-tree('gruntfile.coffee', 'grunt', 17px, 4px, 10px, 1px, 0px);
  .icon-tab('Gruntfile.coffee', 'grunt', 16px, 4px, -5px, -11px, 0px);
  .icon-tree('Gruntfile.coffee', 'grunt', 17px, 4px, 10px, 1px, 0px);
  .icon-tab('GruntFile.coffee', 'grunt', 16px, 4px, -5px, -11px, 0px);
  .icon-tree('GruntFile.coffee', 'grunt', 17px, 4px, 10px, 1px, 0px);
  .icon-tab('GRUNTFILE.coffee', 'grunt', 16px, 4px, -5px, -11px, 0px);
  .icon-tree('GRUNTFILE.coffee', 'grunt', 17px, 4px, 10px, 1px, 0px);

  // Gulp
  .icon-tab('gulpfile.js', 'gulp', 20px, 2px, 1px, -2px, 0px);
  .icon-tree('gulpfile.js', 'gulp', 20px, 6px, 10px, -1px, 0px);
  .icon-tab('Gulpfile.js', 'gulp', 20px, 2px, 1px, -2px, 0px);
  .icon-tree('Gulpfile.js', 'gulp', 20px, 5px, 10px, -1px, 0px);
  .icon-tab('GulpFile.js', 'gulp', 20px, 2px, 1px, -2px, 0px);
  .icon-tree('GulpFile.js', 'gulp', 21px, 6px, 10px, -1px, 0px);
  .icon-tab('GULPFILE.js', 'gulp', 20px, 2px, 1px, -2px, 0px);
  .icon-tree('GULPFILE.js', 'gulp', 21px, 6px, 10px, -1px, 0px);
  .icon-tab('gulpfile.coffee', 'gulp', 20px, 2px, 1px, -2px, 0px);
  .icon-tree('gulpfile.coffee', 'gulp', 21px, 6px, 10px, -1px, 0px);
  .icon-tab('Gulpfile.coffee', 'gulp', 20px, 2px, 1px, -2px, 0px);
  .icon-tree('Gulpfile.coffee', 'gulp', 21px, 6px, 10px, -1px, 0px);
  .icon-tab('GulpFile.coffee', 'gulp', 20px, 2px, 1px, -2px, 0px);
  .icon-tree('GulpFile.coffee', 'gulp', 21px, 6px, 10px, -1px, 0px);
  .icon-tab('GULPFILE.coffee', 'gulp', 20px, 2px, 1px, -2px, 0px);
  .icon-tree('GULPFILE.coffee', 'gulp', 21px, 6px, 10px, -1px, 0px);

	// LICENSE
  .icon-tab('LICENSE', 'license', 17px, 2px, 2px, -3px, 0px);
  .icon-tree('LICENSE', 'license', 17px, 3px, 10px, 1px, 0px);
	.icon-tab('LICENSE.md', 'license', 17px, 2px, 2px, -3px, 0px);
  .icon-tree('LICENSE.md', 'license', 17px, 3px, 10px, 1px, 0px);
  .icon-tab('License', 'license', 17px, 2px, 2px, -3px, 0px);
  .icon-tree('License', 'license', 17px, 3px, 10px, 1px, 0px);
  .icon-tab('license', 'license', 17px, 2px, 2px, -3px, 0px);
  .icon-tree('license', 'license', 17px, 3px, 10px, 1px, 0px);
	.icon-tab('license.md', 'license', 17px, 2px, 2px, -3px, 0px);
  .icon-tree('license.md', 'license', 17px, 3px, 10px, 1px, 0px);

	// NPM Package
  .icon-tab('package.json', 'npm-package', 22px, 6px, 5px, -3px, 0px);
  .icon-tree('package.json', 'npm-package', 23px, 8px, 13px, -1px, 0px);
  .icon-tab('PACKAGE.json', 'npm-package', 22px, 6px, 5px, -3px, 0px);
  .icon-tree('PACKAGE.json', 'npm-package', 23px, 8px, 13px, -1px, 0px);


	// Deprecation-cop
	.icon-alert {
		position: relative;
		&::before {
			position: relative;
			font-family: iconFont;
			content: '\e059' !important;
			font-size: 18px !important;
			top: 3px !important;
			left: -2px !important;
		}
	}

	// Time-cop
	.icon-dashboard {
		position: relative;
		left: 1px;
		padding-right: 18px !important;
		&::before {
			position: relative;
			font-family: iconFont;
			content: '\e1a2' !important;
			font-size: 18px !important;
			margin-left: 8px;
			top: 2px !important;
			left: -4px !important;
		}
	}

	// Settings-view
	.icon-tools {
		position: relative;
		padding-right: 18px !important;
		left: -2px;
		&::before {
			position: relative;
			font-family: iconFont;
			font-size: 18px !important;
			// content: '\e031' !important;
			// content: '\e030' !important;
			content: '\e001' !important;
			margin-left: 4px;
			top: 3px !important;
			left: -4px !important;
			// right: 10px !important;
		}
	}

	// Project-find
	.icon-search {
		position: relative;
		left: 2px;
		&::before {
			font-family: iconFont;
			content: '\e0A2' !important;
			left: -4px !important;
		}
	}

    .linter-status-count {
        .icon-stop::before,
        .icon-alert::before,
        .icon-info::before {
            display: none;
        }
    }

	// README.md
	.icon-book {
    position: relative;
    left: 5px;
    &::before {
		font-family: iconFont;
		// content: 'b';
		content: '\e081' !important;
		font-size: 19px;
		position: relative;
		top: 4px !important;
        left: -5px !important;
		color: #637FE7;
    }
	}

	// Media files
	.icon-file-media::before {
		font-family: iconFont;
		content: '!' !important;
		font-size: 15px;
		position: relative;
		top: 2px;
		left: -1px;
		color: #72A012;
	}

	// Zip files
	.icon-file-zip {
		position: relative;
		&::before {
			font-family: iconFont;
			content: '9' !important;
			font-size: 16px;
			color: #3A3A3A;
			margin-right: 15px !important;
			top: 3px;
			left: 2px !important;
			right: 0px;
		}
	}
	.tab-bar .tab .title[data-name$=".zip"]:before {
		color: #B0B0B0;
	}

	.name.icon.icon-repo {
    position: relative;
    display: inline-block;
    top: 0px;
    &:before {
	    // font-family: iconFont;
	    // content: '\e0b5' !important;
		// color: mix(@theme-purple, darken(@theme-blue, 20%), 50%);
		// content: "g" !important;
		position: relative;
	  	display: inline-block;
      	font-size: 20px;
	  	top: 2px;
      	left: 0px;
  	}
	}

	.name.icon.icon-file-directory {
		background: none;
		top: 0px;
		position: relative;
	  	&:before {
			font-family: iconFont;
			content: '\e0ca';
			font-size: 20px;
			display: inline-block;
	    	position: relative;
			top: 4px;
			left: -2px;
	  	}
	}

  .icon-file-symlink-directory::before {
    font-size: 18px;
  }

	// Text
	.icon-file-text {
		position: relative;
		&::before {
			font-family: iconFont;
			content: '$';
			top: 1px;
			left: 4px;
			margin-right: 15px !important;
			color: @tree-view-text-color;
		}
	}
	.tab-bar .tab .title[data-name$=".txt"]:before {
		color: #B0B0B0;
	}

}
