
// ICON FONTS
@icon-angular: '\e168';
@icon-archive: '9';
@icon-assembly: '\78';
@icon-aws: '\e177';
@icon-bash: '\e0d9';
// @icon-bash: '\e097';
@icon-bin: 'x';
@icon-bitbucket: '\e135';
@icon-book: '\49';
@icon-bootstrap: '\e164';
// @icon-bower: '\e161';
@icon-bower: '\e1b1';
@icon-c: '\e0e2';
@icon-code: ']';
@icon-coffee: '\e069';
@icon-coldfusion: '\e1af';
@icon-config: '\e0c0';
@icon-cpp: '\e0d8';
@icon-cpp-header: '\e0d8';
@icon-csharp: '\e0d5';
// @icon-csharp: '\e0cb';
@icon-css: '\e147';
@icon-database: 'J';
@icon-default: '\e02d';
@icon-deprecation-cop: '\e059';
@icon-directory: '\e0ca';
@icon-django: '\e163';
@icon-dll: 'x';
// @icon-docker: '\e113';
@icon-docker: '\e169';
@icon-dotnet: '\e13d';
@icon-editorconfig: 'h';
@icon-ejs: '\e09b';
@icon-font: '\e0ab';
@icon-gem: '\e051';
@icon-gem-lock: '\e051';
@icon-gimp: '\e15a';
@icon-git: '2';
// @icon-git: '\e149';
// @icon-gitignore: '\e0de';
@icon-gitignore: '\e19b';
@icon-go: '\e167';
@icon-gulp: '\e188';
@icon-grunt: '\e159';
@icon-hidden: '\e0de';
@icon-drupal: '\e143';
@icon-haml: '\e1b0';
@icon-handlebars: '\e1b2';
@icon-haskell: '\e066';
@icon-heroku: '\e116';
@icon-html: '\e13e';
@icon-ico: '\e067';
@icon-illustrator: '\e140';
@icon-img: '!';
@icon-java: '\e0e8';
@icon-javascript: '\e057';
@icon-json: '\e04e';
@icon-jquery: '\e17d';
@icon-less: '\e07d';
@icon-license: '\e083';
@icon-lua: '\e039';
@icon-makefile: '\e1a4';
@icon-markdown: '\e081';
@icon-meteor: '\e176';
@icon-mongodb: '\e14f';
@icon-music: '\e0b0';
@icon-mustache: '\e1b2';
@icon-node: '\e0e7';
@icon-npm: 'c';
@icon-npm-package: '\e1a9';
@icon-npmignore: '\e02c';
@icon-nupkg: '\'';
@icon-objective: '\e0cd';
@icon-out: '\e037';
@icon-pdf: '\e08a';
@icon-perl: '\e105';
@icon-pfx: '\e079';
@icon-photoshop: '\e12f';
@icon-php: '\e08c';
@icon-phpstorm: '\e13b';
@icon-powershell: '\e1ce';
@icon-project-find: '\e0a2';
@icon-python: '\e1d4';
@icon-pyc: '\e1d4';
@icon-rails: '\e131';
@icon-rainmeter: '\e18b';
@icon-react: '\e142';
@icon-ruby: '\e051';
@icon-sass: '\e08f';
@icon-shortcut: '\e1c9';
@icon-stache: '\e1b2';
@icon-sql: '\e10d';
@icon-svg: '\e0ec';
// @icon-svg: '\e14c';
// @icon-text: '\e02d';
@icon-text: '$';
@icon-typescript: '\e1bb';
@icon-video: '\e1cc';
// @icon-video: '8';
@icon-win: '\e0d9';
// @icon-xml: '\e05d';
@icon-xml: '\e1b5';
@icon-yml: '\e1b3';


// ICON COLORS
@color-angular: #DD0031;
@color-archive: #F79451;
@color-assembly: #E15834;
@color-aws: #DED231;
@color-bash: #E05858;
@color-bin: #606060;
@color-book: #555555;
@color-bower: #F0582B;
@color-c: #586CCE;
@color-code: #6D43CF;
@color-coffee: #7B6548;
@color-coldfusion: #0BA6DD;
@color-config: #888588;
@color-cpp: #16A0AA;
@color-cpp-header: #E57418;
@color-csharp: #268AA4;
@color-css: #269BB4;
@color-default: @tree-view-text-color;
@color-database: #CAC060;
@color-dll: #BD7A02;
@color-editorconfig: #708090;
@color-ejs: #469D39;
@color-font: #202629;
@color-gem: #A03331;
@color-gem-lock: #997979;
@color-gimp: #6F5A3D;
@color-git: #A08077;
@color-gitignore: #999999;
@color-go: #50ACAC;
@color-grunt: #DA8901;
@color-gulp: #EE4845;
@color-haml: #B4293A;
@color-handlebars: #E58824;
@color-haskell: #5F5286;
@color-heroku: #7772B5;
@color-hidden: #777777;
@color-html: #EF6632;
@color-ico: #7830B6;
@color-illustrator: #E57418;
@color-img: #72A012;
@color-ini: #D78A06;
@color-java: #7B54B6;
@color-javascript: #DFBA67;
@color-jl: #aa7db7;
@color-json: #DF70E3;
@color-less: #66A8BA;
@color-license: #C9BF66;
@color-lua: #6087BE;
@color-makefile: #894F1D;
@color-markdown: #6D7FE7;
@color-meteor: #DF4F4F;
@color-mongodb: #69B23F;
@color-music: #966ADE;
@color-mustache: #E58824;
@color-node: #62B860;
@color-npm: #B74341;
@color-npm-package: #B74341;
@color-npmignore: #9D7D7D;
@color-nupkg: #50A323;
@color-objective: #369FBA;
@color-out: #BD4050;
@color-pdf: #B74341;
@color-perl: #569AB4;
@color-pfx: #A140EC;
@color-photoshop: #2DAAD9;
@color-php: #8D80AA;
@color-powershell: #5055CE;
@color-python: #5486FD;
@color-pyc: #CBC476;
@color-rails: #B60E36;
@color-rainmeter: #6ABB28;
@color-react: #51C0DD;
@color-ruby: #CB1850;
@color-sass: #CE6499;
@color-video: #C55F52;
@color-sass: #CD669A;
@color-shortcut: #606060;
@color-sln: #465AB4;
@color-sql: #366AB4;
@color-stache: #E58824;
// @color-svg: #7672E4;
@color-svg: #E3911B;
@color-text: #555555;
@color-typescript: #2279BF;
@color-win: #2279BF;
@color-xml: #EB9230;
@color-yml: #CB629F;


// OVERRIDE CLASS
@override-class: ~".atomic-design-ui-no-icons";
@override-element: ~"atom-workspace";
@icons-enabled:   ~"@{override-element}:not(@{override-class})";
@icons-disabled:  ~"@{override-element}@{override-class}";
