@import "ui-mixins.less";
@import "octicon-mixins";

.settings-view {
	font-size: @font-size;
	background: @theme-text-color-highlight;

	.panels .panels-item {
		background-color: lighten(@theme-background-color-selected, 0.25%);
	}

	.alert {
		border: 0;

		button.close {
			background: transparent;
			text-shadow: none;
			border: 0 !important;
			padding: 0 !important;
			opacity: 1;

			&:hover {
				background: transparent;

				&:before {
					color: @text-color-highlight;
				}
			}

			&:before {
				margin-right: 0;
				transition: color @transition-time ease;
			}
		}
	}

	.alert-info {
		color: @text-color-info;
		background: mix(@text-color-info, @theme-background-color, 32%);

		button.close:before {
			color: @text-color-info;
		}
	}

	.alert-danger {
		color: @text-color-error;
		background: mix(@text-color-error, @theme-background-color, 32%);

		button.close:before {
			color: @text-color-error;
		}
	}

	.block.section-heading.icon.icon-device-desktop {
		&:before {
			margin-right: 12px;
		}
	}

	.breadcrumb {
		.text(light);
		font-size: 16px;
		.active {
			font-size: 17px;
			font-weight: normal;
		}
	}

	.config-menu {
		.text(normal);
		color: @theme-text-color;
		background-color: darken(@theme-background-color-selected, 8%);
		z-index: +1;

		.nav > li > a {
			font-size: 16px;
			padding: 12px 15px;
			transition: color @transition-time ease;
			&::before {
				font-size: 20px;
				margin-right: 16px;
			}
		}

		.nav > li > a:hover {
			background: transparent;
			border: 1.5px inset @theme-background-color-selected;
		}

		.nav > li.active {
			border: 1px inset @theme-background-color-selected;
			background: lighten(@theme-background-color-selected, 3%);
			border-top: 1px solid @theme-background-color-dark;
			box-shadow: 2px 8px -2px rgba(0,0,0,.5);
			border-right: 1.5px outset @theme-blue;
		}

		.nav > li.active > a:hover {
			background: lighten(@theme-background-color-selected, 1%);
			border-top: 1px solid @theme-background-color-dark;
			box-shadow: 2px 8px -2px rgba(0,0,0,.5);
		}

		.button-area > .btn	{
			margin-top: 5px;
		}
	}

	input[type="checkbox"]:checked {
		color: @theme-background-color !important;
	}

	label {
		.text(normal);
		&.control-label {
			.theme-description {
				min-height: 36px;
			}
		}
	}

	.package-card {
		.text(normal);
		background-image: linear-gradient(darken(@theme-background-color-selected, 5%), darken(@theme-background-color-selected, 7%));
		border: 1px solid @theme-background-color-dark;
		border-radius: 25px;
		margin-top: 12px;
		padding-top: 12px;
		margin-bottom: 16px;
		width: 500px;
		.body {
			margin-bottom: 10px;
		}
		.card-name {
			.text(highlight);
			color: darken(@white, 5%);
			font-size: 21px;
			font-weight: 300;
			text-shadow: -2px 3px 5px rgba(0,0,0,.8);
			margin-bottom: 10px;
			.package-version {
				color: lighten(@dark-gray, 30%);
				font-size: 14px;
				font-weight: light;
				padding-left: 3px;
			}
		}
		.package-description {
			padding-bottom: 10px;
		}
		&.package-card .meta-controls {
			.btn-toolbar > .btn-group {
				margin: 3px 7px 0 0;
			}
		}
	}

	.package-card:hover,
	.package-detail .package-card:hover {
		transition-duration: 300ms;
		background-image: radial-gradient(darken(@theme-background-color-selected, 3%), darken(@theme-background-color-selected, 8%));
		border-color: fade(@theme-blue, 40%);
	}
	.package-container {
		margin-top: 30px;
		margin-left: 10px;
		padding-left: 15px;
		.meta-user .author{
			color: @lightest-gray;
		}
		.stats .stats-item {
			margin-right: 8px;
			margin-bottom: 5px;
			.icon {
				color: lighten(@gray, 18%);
			}
		}
	}
	.package-detail-view .link, .package-detail-view .link {
		margin: 40px 5px 20px;
	}
	.collapsed .package-container .row {
		border: 0;
	}

	.package-update-view {
		.thumbnail {
			background-color: @tool-panel-background-color !important;
		}

		.package-status.icon-check {
			color: @text-color-success;
		}

		.package-status.icon-cloud-download {
			color: @text-color-info;
		}
	}

	.package-readme {
		font-size: 1em;

		h1,
		h2,
		h3,
		h4 {
			.text(heading);
		}
	}

	.table {
		th {
			background: darken(@theme-background-color-selected, 8%);
			color: darken(@lightest-gray, 5%);
			font-size: 16px;
			border: 2px solid transparent;
		}
	}

	.setting-title,
	.setting-title.themes-label {
		.text(normal);
		font-size: 22px;
		color: lighten(@text-color, 30%);
	}

	.setting-description,
	.setting-description.themes-label {
		font-size: 14.5px;
		color: darken(@text-color, 10%);
	}

	select {
		&.form-control {
			font-size: 15px;
			padding-top: 3px;
			background-color: lighten(@tool-panel-background-color, 2%);
			border-radius: @component-border-radius + 5px;
			border-color: darken(@input-border-color, 5%);
		}
		&.form-control:active {
			color: lighten(@syntax-text-color, 5%);
			background-color: lighten(@tool-panel-background-color, 2%);
			border-radius: @component-border-radius + 5px;
			border-color: lighten(@input-border-color, 5%);
		}
		&.form-control:hover {
			color: lighten(@syntax-text-color, 5%);
			background-color: lighten(@tool-panel-background-color, 2%);
			border-radius: @component-border-radius + 5px;
			border-color: lighten(@input-border-color, 5%);
		}
		&.form-control:not(:hover) {
			background-color: lighten(@tool-panel-background-color, 2%);
			border-radius: @component-border-radius + 5px;
			border-color: darken(@input-border-color, 5%);
		}
	}

	.section {
		background-color: lighten(@theme-background-color-selected, 0.25%);
		padding-top: 0px;
		.section-heading {
			.text(heading);
			font-size: 40px;
			font-family: @font-family-light;
			color: @white;
			margin-bottom: 35px;

			&:before {
				font-size: 42px;
				color: darken(@white, 8%);
				width: 42px;
				margin-right: 10px;
			}
		}
		.section-heading-count.badge {
			background: fade(@theme-blue, 70%);
			margin: 5px 15px;
			padding: .3em;
		}
		.sub-section-heading {
			.text(heading);
			font-size: 26px;
			color: lighten(@text-color, 6%);
			text-shadow: -1px 1px 3px rgba(0,0,0,.5);
			margin: 50px 10px 0px;
			&:before {
				font-size: 26px;
				width: 24px;
				margin-right: 12px;
			}
			&.has-items::after {
				color: lighten(@text-color, 0%);
				margin: 12px 12px 0 0;
				text-shadow: -3px 3px 5px rgba(0,0,0,.5);
				&:hover {
					color: @theme-background-color;
				}
			}
		}
	}

	.section:first-of-type {
		border-top: 0;
	}

	.section-container.package-detail-view {
		.container {
			margin-left: 20px;
			margin-bottom: 20px;
		}
	}

	.sub-section .row div {
		background-color: transparent;
	}

	.text.icon.icon-question {
		padding-bottom: 14px;
		padding-left: 8px;
		&:before {
			padding-right: 8px;
			color: @theme-blue;
		}
	}
}

.settings-view input[type="checkbox"] {
	margin-top: 10px;
}
