
@tab-radius: 11px;
@tab-height: 38px;
@modified-icon-width: 14px;
@tab-skew: 14deg;
@tab-top-padding: 12px;
@tab-bottom-border-height: 3px;
@tab-max-width: 130px;


.tab-bar {
    height: @tab-height + (@tab-radius) + 1px;
    width: 100%;
    background: @tab-bar-background-color;
    box-shadow: inset 0 -8px 8px -4px rgba(0,0,0,.25);
    padding: 0 10px 0 25px;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        display: none;
    }

    &:after {
        content: "";
        position: relative;
        // background: -webkit-linear-gradient(top, @darkest-gray, @darker-gray);
        border-top: 1px solid @tab-border-color;
        border-bottom: 1px dotted @tab-border-color;
        height: @tab-bottom-border-height;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }

    .tab {
        position: relative;
		font-size: @theme-font-size - 1px;
        color: fade(darken(@text-color, 2%), 60%);
        top: @tab-top-padding;
        height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
        max-width: @tab-max-width;
		line-height: @tab-height;
        text-align: left;
		margin: 0 12px 0 5px;
        padding: 15px 5px 0 0 !important;
        transition: color @transition-time/4 ease;
		[data-atomic-design-ui-use-tab-syntax-colors="true"] & {
			background-image: -webkit-linear-gradient(top, lighten(@tab-syntax-background-color, 16.5%), lighten(@tab-syntax-background-color, 1%));
		}
		[data-atomic-design-ui-use-tab-syntax-colors="false"] & {
			background-image: -webkit-linear-gradient(top, lighten(@tab-background-color, 12.5%), darken(@tab-background-color, 3%));
		}

        &,
        &:after,
        &:before {
			height: @tab-height;
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            width: 25px;
            height: @tab-height + 1px;
			[data-atomic-design-ui-use-tab-syntax-colors="true"] & {
				background-image: -webkit-linear-gradient(top, lighten(@tab-syntax-background-color, 16.5%), lighten(@tab-syntax-background-color, 1%));
			}
			[data-atomic-design-ui-use-tab-syntax-colors="false"] & {
				background-image: -webkit-linear-gradient(top, lighten(@tab-background-color, 12.5%), darken(@tab-background-color, 3%));
			}
        }
        // left angled edge
        &:before {
            left: -14px;
            top: -.70px;
            border-top-left-radius: @tab-radius;
            box-shadow: inset 1px 1px 0 @tab-border-color, -4px -1px 8px rgba(0,0,0,.2);
            -webkit-transform: skewX(-@tab-skew - 2deg);
        }
        // right angled edge
        &:after {
            right: -14px;
            top: -.70px;
            border-top-right-radius: @tab-radius;
            box-shadow: inset -1px 1px 0 @tab-border-color, 4px -1px 6px rgba(0,0,0,.2);
            -webkit-transform: skewX(@tab-skew + 2deg);
        }

        .close-icon {
            right: 0;
            z-index: 3;
            text-align: right;
            padding-right: 5px !important;
            line-height: @tab-height - 1px;
            color: darken(@theme-text-color, 10%);

            &:before {
                font-size: @theme-font-size + 1px;
                font-weight:100;
            }

            &:hover {
                color: @text-color-info;
            }
        }

        &:hover {
            color: darken(@text-color-highlight, 5%);
            transition-delay: 200ms;
        }

        &.modified:not(:hover) {
            color: @text-color-modified;
        }

        &.modified:not(:hover) .close-icon {
            right: 1px;
            top: @tab-height/2 - @modified-icon-width/2 + 1px;
            width: @modified-icon-width;
            height: @modified-icon-width;
            border-color: @text-color-modified;
            border-width: thin;
        }

        &.modified:hover .close-icon:hover {
            color: @text-color-highlight;
        }

        .title {
            position: relative;
            text-align: center;
            font-size: @theme-font-size + 3px;
            font-kerning: auto;
            z-index: 1;
            margin-top: -@tab-top-padding - 4px;
            padding-top: @tab-top-padding - 10px;
            padding-right: 18px;
        }
    }

    .tab.active {
		top:9px;
		height: @tab-height + 4px;
		color: darken(@text-color-highlight, 10%);
        box-shadow: inset -1px 1px 0 @tab-border-color, 0px -1px 4px rgba(0,0,0,.3) !important;
        padding-top: 12px !important;
        padding-right: 13px !important;
		z-index: 1;
        [data-atomic-design-ui-use-tab-syntax-colors="true"] & {
            // background-image: -webkit-linear-gradient( darken(@theme-syntax-background-color, .5%), @theme-syntax-background-color);
			background: @theme-syntax-background-color;
        }
        [data-atomic-design-ui-use-tab-syntax-colors="false"] & {
            // background-image: -webkit-linear-gradient(top, @darkest-gray, @darker-gray);
			background: @theme-syntax-background-color;
        }

    	.close-icon {
            line-height: @tab-height - 1px;
            color: darken(@text-color-highlight, 20%);
        }

    	.title {
            position: relative;
            text-align: center;
            font-size: @theme-font-size + 4px;
            font-kerning: auto;
            margin-top: -@tab-top-padding;
            padding-top: @tab-top-padding - 10px;
            padding-right: 18px;
        }

        &,
        &:after,
        &:before {
			top: 9px;
			height: @tab-height + 4px;
            line-height: @tab-height;
		    [data-atomic-design-ui-use-tab-syntax-colors="true"] & {
		        // background-image: -webkit-linear-gradient(top, darken(@theme-syntax-background-color,2%), lighten(@theme-syntax-background-color, 1%));
				background: @theme-syntax-background-color;
		    }
			[data-atomic-design-ui-use-tab-syntax-colors="false"] & {
				background-image: -webkit-linear-gradient(top, @darkest-gray, @darker-gray);
				// background: @theme-syntax-background-color;
			}
        }

        &:before {
            left: -14px;
            top: -.5px;
            border-top-left-radius: @tab-radius;
            box-shadow: inset 1px 1px 0 @tab-border-color, -4px -1px 4px rgba(0,0,0,.25);
        }

        &:after {
            right: -14px;
            top: -.5px;
            border-top-right-radius: @tab-radius;
            box-shadow: inset -1px 1px 0 @tab-border-color, 4px -1px 4px rgba(0,0,0,.25);
        }

        &:hover {
            .close-icon {
                color: darken(@text-color-highlight, 10%);
                &:hover {
                    color: @text-color-info;
                }
            }
        }
    }

    .placeholder {
        height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
        margin-left: -9px;   // center between tabs
        pointer-events: none;

        &:after {
            top: @tab-height + @tab-top-padding + @tab-bottom-border-height - 2px;
        }
    }
}
