
@tab-radius: 11px;
@tab-height: 38px;
@modified-icon-width: 14px;
@tab-skew: 14deg;
@tab-top-padding: 12px;
@tab-bottom-border-height: 3px;
@tab-max-width: 100px;


.tab-bar {
  background: @tab-bar-background-color;
  height: @tab-height + (@tab-radius) + 1px;
  width: 100%;
  box-shadow: inset 0 -8px 8px -4px rgba(0,0,0,0.25);
  padding: 0 10px 0 25px;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }

  &:after {
    position: relative;
    content: '';
    height: @tab-bottom-border-height;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid @tab-border-color;
    border-bottom: 1px dotted @tab-border-color;
    pointer-events: none;
  }

  .tab {
    position: relative;
    color: @tab-text-color;
    font-size: @theme-font-size - 1px;
    text-align: left;
    top: @tab-top-padding;
    height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
    max-width: @tab-max-width;
    line-height: @tab-height;
    margin: 0 12px 0 5px;
    padding: 15px 5px 0 0 !important;
    box-shadow: inset 1px 1px 0 #303337, -4px -1px 8px rgba(0, 0, 0, 0.3);
    transition: color @transition-time/4 ease;
    [data-atomic-design-ui-adaptive-tabs="true"] & {
      background-image: -webkit-linear-gradient(top, desaturate(lighten(@tab-syntax-background-color, 16.5%), 0%), lighten(@tab-syntax-background-color, 1%));
    }
    [data-atomic-design-ui-adaptive-tabs="false"] & {
      background-image: -webkit-linear-gradient(top, desaturate(lighten(@tab-background-color, 12.5%), 40%), darken(@tab-background-color, 3%));
    }

    &,
    &:after,
    &:before {
      height: @tab-height;
    }

    &:after,
    &:before {
      position: absolute;
      content: '';
      top: 0;
      width: 25px;
      height: @tab-height + 1px;
      [data-atomic-design-ui-adaptive-tabs="true"] & {
        background-image: -webkit-linear-gradient(top, desaturate(lighten(@tab-syntax-background-color, 16.5%), 0%), lighten(@tab-syntax-background-color, 1%));
      }
      [data-atomic-design-ui-adaptive-tabs="false"] & {
        background-image: -webkit-linear-gradient(top, desaturate(lighten(@tab-background-color, 12.5%), 40%), darken(@tab-background-color, 3%));
      }
    }
    // left angled edge
    &:before {
      top: 0px;
      left: -14px;
      border-top-left-radius: @tab-radius;
      box-shadow: inset 1px 1px 0 @tab-border-color, -4px -1px 6px rgba(0,0,0,0.2);
      -webkit-transform: skewX(-@tab-skew - 2deg);
    }
    // right angled edge
    &:after {
      top: -0.7px;
      right: -14px;
      border-top-right-radius: @tab-radius;
      box-shadow: inset -1px 1px 0 @tab-border-color, 4px -1px 6px rgba(0,0,0,0.2);
      -webkit-transform: skewX(@tab-skew + 2deg);
    }

    .close-icon {
      color: darken(@theme-text-color, 10%);
      line-height: @tab-height - 1px;
      text-align: right;
      right: 0;
      padding-right: 5px !important;
      z-index: 3;
      &:before {
        font-size: @theme-font-size + 1px;
        font-weight:100;
      }
      &:hover {
        color: @text-color-info;
      }
    }

    &:hover {
      color: darken(@text-color-highlight, 5%);
      transition-delay: 200ms;
    }

    &.modified:not(:hover) {
      color: @text-color-modified;
    }

    &.modified:not(:hover) .close-icon {
      right: 1px;
      top: @tab-height/2 - @modified-icon-width/2 + 1px;
      width: @modified-icon-width;
      height: @modified-icon-width;
      border-color: @text-color-modified;
      border-width: thin;
    }

    &.modified:hover .close-icon:hover {
      color: @text-color-highlight;
    }

    .title {
      position: relative;
      text-align: center;
      font-size: @theme-font-size + 3px;
      font-kerning: auto;
      z-index: 1;
      margin-top: -@tab-top-padding - 4px;
      padding-top: @tab-top-padding - 10px;
      padding-left: -5px;
    }
  }

  .tab.active {
    top:9px;
    height: @tab-height + 4px;
    color: darken(@text-color-highlight, 10%);
    box-shadow: inset -1px 1px 0 @tab-border-color, 0px -1px 4px rgba(0,0,0,0.3) !important;
    padding-top: 12px !important;
    padding-right: 13px !important;
    z-index: 1;
    [data-atomic-design-ui-adaptive-tabs="true"] & {
      background: @theme-syntax-background-color;
    }
    [data-atomic-design-ui-adaptive-tabs="false"] & {
      background: @theme-background-color;
    }

    .close-icon {
      line-height: @tab-height - 1px;
      color: darken(@text-color-highlight, 20%);
    }

    .title {
      position: relative;
      text-align: center;
      font-size: @theme-font-size + 4px;
      font-kerning: auto;
      margin-top: -@tab-top-padding;
      padding-top: @tab-top-padding - 10px;
      padding-right: 18px;
    }

    &,
    &:after,
    &:before {
      top: 9px;
      height: @tab-height + 4px;
      line-height: @tab-height;
      [data-atomic-design-ui-adaptive-tabs="true"] & {
        background: @theme-syntax-background-color;
      }
      [data-atomic-design-ui-adaptive-tabs="false"] & {
        background-image: -webkit-linear-gradient(top, @darkest-gray, @darker-gray);
      }
    }

    &:before {
      left: -14px;
      top: -.5px;
      border-top-left-radius: @tab-radius;
      box-shadow: inset 1px 1px 0 @tab-border-color, -4px -1px 4px rgba(0,0,0,0.25);
    }

    &:after {
      right: -14px;
      top: -.5px;
      border-top-right-radius: @tab-radius;
      box-shadow: inset -1px 1px 0 @tab-border-color, 4px -1px 4px rgba(0,0,0,0.25);
    }

    &:hover {
      .close-icon {
        color: darken(@text-color-highlight, 10%);
        &:hover {
          color: @text-color-info;
        }
      }
    }
  }

  .placeholder {
    height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
    margin-left: -9px;   // center between tabs
    pointer-events: none;

    &:after {
      top: @tab-height + @tab-top-padding + @tab-bottom-border-height - 2px;
    }
  }
}

// Project tab
body > atom-workspace > atom-workspace-axis > atom-panel-container.left > atom-dock > div > div.atom-dock-mask > div > atom-pane-container > atom-pane > ul {
  li {
    background: transparent;
    box-shadow: none;
    &:before, &:after {
      box-shadow: none;
    }
  }
}
.ul[location="left"] > li {
  background: transparent;
}

.atom-dock-toggle-button {
  .atom-dock-toggle-button-inner {
    background-color: @tab-bar-background-color;
    border: lighten(@theme-background-color-light, 25%);
  }
}
