@import "ui-variables";

.tree-view {
    padding-top: 10px;
    margin: -6px -15px;
    font-size: @tree-font-size;
    background: @tree-background-color;

    .selected:before {
        background: -webkit-linear-gradient(top, lighten(@tree-selection-color, 8%), @tree-selection-color);
        box-shadow: inset -2px 0 4px rgba(0,0,0,.3);
    }

    .header.list-item {
        text-align: left;
        vertical-align: middle;
        font-weight: bold;
        color: @lightest-gray;
    }
    .pseudo:before {
        height: 50px;
    }

    // Project root directory
    .project-root > .header.list-item {
        text-align: left;
        vertical-align: middle;
        font-weight: bolder;
        font-size: @tree-font-size + 2px;
        color: darken(@lightest-gray, 4%);
        margin: 5px 2px;
        // border-top: 2px solid @tree-border-color;
        // border-bottom: 2px solid @tree-border-color;
        // background: darken(@tree-background-color, .25%);

        &::before {
            visibility: hidden;
        }
    }

    // Internal directories
    .list-nested-item > .header {
        text-align: left;
        vertical-align: middle;
        font-weight: bold;
        font-size: @tree-font-size + 1px;
        margin-bottom: 3px;
        border-bottom: 1px solid @tool-panel-border-color;
        color: @lightest-gray;
        &::before {
            visibility: visible;
        }
    }

    // List items
    .project-root > .entries.list-tree {
        text-align: left;
        vertical-align: middle;
        font-size: @tree-font-size + 1px;
        border-bottom: 1px solid @tab-bar-border-color;
        color: @lightest-gray;
        margin: 5px 10px;
    }
}

.tree-view-resizer {
    .tree-view-resize-handle {
        width: 8px;
    }
}

.focusable-panel {
    opacity: 1;
    box-shadow: inset -1px -2px 10px rgba(0,0,0,.3);

    &:focus {
        background: @tree-background-color;

        .selected:before {
            transition: color @transition-time ease;
            background: -webkit-linear-gradient(top, lighten(@tree-selection-color, 9%), @tree-selection-color);
        }
    }
}

[data-show-on-right-side=true] {
    .focusable-panel,
    .tree-view .selected:before {
        box-shadow: inset 3px 0 0 rgba(0,0,0,.05);
    }
}

span.name.icon ::before {
    &.icon-file-directory {
        font-size: 16px;
        font-weight: 600;
    }
    &.icon-repo {
        font-size: 19px;
        font-weight: 800;
        text-transform: capitalize;
    }
}
