.tree-view-font-size(@tree-view-font-size);


.tree-view {
    padding-top: 10px;
    margin: -5px -15px;
    .tree-view-font-size(font-size);
	[data-atomic-design-ui-compact-tree-view="false"] & {
		font-size: @tree-view-font-size;
	}
	[data-atomic-design-ui-compact-tree-view="true"] & {
		font-size: @tree-view-font-size - 2px;
	}
	[data-atomic-design-ui-light-tree-view="true"] & {
		background: @tree-view-background-color-light;
		color: @tree-view-text-color-light
	}
    [data-atomic-design-ui-light-tree-view="false"] {
        background: @tree-view-background-color;
		color: @tree-view-text-color;
    }
    .selected:before {
		[data-atomic-design-ui-light-tree-view="true"] & {
			background: -webkit-linear-gradient(top, fade(lighten(@tree-view-selection-color-light, 10%), 80%), @tree-view-selection-color-light);
			color: @lightest-gray;
		}
	    [data-atomic-design-ui-light-tree-view="false"] {
	        background: -webkit-linear-gradient(top, lighten(@tree-view-selection-color, 8%), @tree-view-selection-color);
			color: lighten(@tree-view-text-color, 5%);
	    }
        box-shadow: inset -2px 0 4px rgba(0,0,0,.3);
    }

    .header.list-item {
		&::before {
			margin-right: 1px;
		}
        text-align: left;
        vertical-align: middle;
        font-weight: normal;
		[data-atomic-design-ui-light-tree-view="true"] & {
			color: @tree-view-text-color-light;
		}
        [data-atomic-design-ui-light-tree-view="false"] {
			color: @tree-view-text-color;
		}
    }

    .pseudo:before {
        height: 50px;
    }

    // Project root directory
    .project-root > .header.list-item {
        text-align: left;
        vertical-align: middle;
        font-weight: normal;
        text-transform: capitalize;
		margin: 0px 0px 2px;
		font-size: @tree-view-font-size + 4;
		[data-atomic-design-ui-compact-tree-view="false"] & {
			font-size: @tree-view-font-size + 5px;
		}
		[data-atomic-design-ui-compact-tree-view="true"] & {
			font-size: @tree-view-font-size + 2px;
		}
		[data-atomic-design-ui-light-tree-view="true"] & {
			background-color: darken(@tree-view-background-color-light, 5%);
			color: @tree-view-text-color-light;
		}
        [data-atomic-design-ui-light-tree-view="false"] {
            background-color: lighten(@tree-view-background-color, 2%);
            color: @tree-view-text-color;
		}
        &::before {
            visibility: hidden;
        }
		.selected {
			text-shadow: none;
		}
    }

    // Internal directories
    .list-nested-item > .header {
        text-align: left;
        vertical-align: middle;
        font-weight: bold;
        margin: 1px 0px;
        padding-bottom: 1px;
        color: @lightest-gray;
		font-size: @tree-view-font-size + 2px;
		[data-atomic-design-ui-compact-tree-view="false"] & {
			font-size: @tree-view-font-size + 2px;
		}
		[data-atomic-design-ui-compact-tree-view="true"] & {
			font-size: @tree-view-font-size;
		}
		[data-atomic-design-ui-light-tree-view="true"] & {
			color: @tree-view-text-color-light;
		}
        [data-atomic-design-ui-light-tree-view="false"] {
			color: @tree-view-text-color;
		}
        &::before {
            visibility: visible;
        }
    }

    // List items
    .project-root > .entries.list-tree {
        text-align: left;
        vertical-align: middle;
		margin: 5px 5px;
        font-size: @tree-view-font-size + 2p;
		[data-atomic-design-ui-compact-tree-view="false"] & {
			font-size: @tree-view-font-size + 2px;
		}
		[data-atomic-design-ui-compact-tree-view="true"] & {
			font-size: @tree-view-font-size;
		}
		[data-atomic-design-ui-light-tree-view="true"] & {
			color: @tree-view-text-color-light;
		}
        [data-atomic-design-ui-light-tree-view="false"] {
			color: @tree-view-text-color;
		}

        &::before {
            visibility: visible;
        }
    }
}


// atom-panel-container {
//     .project-root > .header {
//         .icon-repo {
//             &::before {
//                 background: url('atom://atomic-design-ui/assets/icons.svg') no-repeat;
//                 content: '';
//                 height: 30px;
//                 margin-right: 5px;
//                 margin-bottom: -10px;
//                 width: 30px;
//           }
//         }
// 	}
// }

.list-tree {
	[data-atomic-design-ui-light-tree-view="true"] & {
		li:not(.list-nested-item), li.list-nested-item {
			&.status-added > .list-item {
				color: mix(@darkest-gray, @text-color-added, 30%) !important;
			}
			&.status-modified > .list-item{
				color: darken(@text-color-modified, 2%) !important;
			}
			&.status-removed > .list-item {
				color: darken(@text-color-removed, 5%) !important;
			}
			&.status-renamed > .list-item {
				color: darken(@text-color-renamed, 8%) !important;
			}
			&.status-ignored > .list-item {
				color: fade(@tree-view-text-color-light, 40%) !important;
			}
			&.selected {
				font-weight: normal;
				color: @lightest-gray;
				text-shadow: none !important;
			}
			&.status-added.selected > .list-item {
				color: @text-color-added-light !important;
			}
			&.status-modified.selected > .list-item {
				color: @text-color-modified !important;
			}
			&.status-removed.selected > .list-item {
				color: @text-color-removed !important;
			}
			&.status-renamed.selected > .list-item {
				color: darken(@text-color-renamed, 8%) !important;
			}
			&.status-ignored.selected > .list-item {
				color: fade(@lightest-gray, 60%) !important;
			}
		}
	}
	[data-atomic-design-ui-light-tree-view="false"] {
		color: @tree-view-text-color;
		&.selected {
			font-weight: normal;
			background: -webkit-linear-gradient(top, lighten(@tree-view-selection-color, 9%), @tree-view-selection-color) !important;
			color: @lightest-gray;
			text-shadow: none !important;
		}
	}
	.list-tree li:not(.list-nested-item).selected {
		margin-left: 9px;
	}
    li.list-nested-item.selected > .list-item {
        text-shadow: none !important;
    }
    &.has-collapsable-children {
        li.list-item {
            margin-left: 12px;
        }
        .list-nested-item > .list-item::before {
            margin-right: 4px;
        }
    }
}

.tree-view .list-nested-item > .header {
	[data-atomic-design-ui-light-tree-view="true"] & {
		color: @tree-view-text-color-light;
	}
}

.file.entry.list-item {
	[data-atomic-design-ui-light-tree-view="true"] & {
		color: @tree-view-text-color-light;
		&.status-added {
			color: @text-color-added-light;
			&.selected {
				color: lighten(@text-color-added-light, 5%);
			}
		}
		&.status-modified {
			color: darken(@text-color-modified, 2%);
			&.selected {
				color: @text-color-modified;
			}
		}
		&.status-renamed {
			color: darken(@text-color-renamed, 8%);
			&.selected {
				color: @text-color-renamed;
			}
		}
		&.status-removed {
			color: darken(@text-color-removed, 5%);
			&.selected {
				color: @text-color-removed;
			}
		}
		&.status-ignored {
			color: fade(@tree-view-text-color-light, 45%);
			&.selected {
				color: fade(@lightest-gray, 60%);
			}
		}
	}
	[data-atomic-design-ui-light-tree-view="false"] & {
		color: @tree-view-text-color;
		&.status-added {
			color: @text-color-added;
		}
		&.status-modified {
			color: darken(@text-color-modified, 2%);
		}
		&.status-renamed {
			color: darken(@text-color-renamed, 8%);
		}
		&.status-removed {
			color: darken(@text-color-removed, 5%);
		}
		&.status-ignored {
			color: fade(@tree-view-text-color, 40%);
		}
	}
}

li.directory.entry.list-nested-item {
    border: none;
    &.expanded {
        background-color: -webkit-linear-gradient(top, lighten(@theme-background-color-selected, 4%), darken(@tree-view-background-color, 2%)) !important;
        padding-bottom: 8px !important;
		margin-bottom: 6px;
		[data-atomic-design-ui-light-tree-view="true"] & {
			box-shadow: inset 0px -4px 6px -6px rgba(0,0,0,.6);
		}
		[data-atomic-design-ui-light-tree-view="false"] & {
			border-bottom: 1px inset @theme-background-color-selected;
		}
	}
}


.tree-view-resizer {
    .tree-view-resize-handle {
        width: 14px;
		background: transparent;
    }
}

.focusable-panel {
    opacity: 1;
    box-shadow: inset -1px -2px 10px rgba(0,0,0,.3);

    &:focus {
		// [data-atomic-design-ui-light-tree-view="true"] & {
			background: @tree-view-background-color-light;
			color: @tree-view-text-color-light;
		// }
        [data-atomic-design-ui-light-tree-view="false"] & {
			background: @tree-view-background-color;
			color: @tree-view-text-color;
		}
		.selected:before {
			[data-atomic-design-ui-light-tree-view="true"] & {
				background: -webkit-linear-gradient(top, lighten(@tree-view-selection-color-light, 12%), @tree-view-selection-color-light);
			}
			[data-atomic-design-ui-light-tree-view="false"] & {
				background: -webkit-linear-gradient(top, lighten(@tree-view-selection-color, 9%), @tree-view-selection-color);
			}
			transition: color @transition-time ease;
        }
    }
}

.focusable-panel,
.tree-view .selected:before {
    box-shadow: inset 3px 0 0 rgba(0,0,0,.05);
}

span.name.icon ::before {
    &.icon-file-directory {
        // font-size: @theme-font-size + 3px;
        font-weight: 600;
		[data-atomic-design-ui-compact-tree-view="false"] & {
			font-size: @tree-view-font-size + 3px;
		}
		[data-atomic-design-ui-compact-tree-view="true"] & {
			font-size: @tree-view-font-size + 1px;
		}
    }
    &.icon-repo {
        // font-size: @theme-font-size + 6px;
		[data-atomic-design-ui-compact-tree-view="false"] & {
			font-size: @tree-view-font-size + 6px;
		}
		[data-atomic-design-ui-compact-tree-view="true"] & {
			font-size: @tree-view-font-size + 5px;
		}
        font-weight: 800;
        text-transform: capitalize;
    }
}

.tree-view-resizer {
    .tree-view-resize-handle {
        width: 8px;
    }
}

.tree-view-resizer ::-webkit-scrollbar-thumb,
.atom-text-editor ::-webkit-scrollbar-thumb {
	background: lighten(@theme-background-color-selected, 25%) !important;
}

.tree-view-resizer ::-webkit-scrollbar-track,
.atom-text-editor ::-webkit-scrollbar-track {
	[data-atomic-design-ui-light-tree-view="true"] & {
		background: @tree-view-background-color-light !important;
	}
	[data-atomic-design-ui-light-tree-view="false"] & {
		background: @tree-view-background-color !important;
	}
}
