@import "ui-variables";
@tree-font-size: @font-size + 2px;
.tree-view {
    font-size: @tree-font-size;
    padding-top: 8px;
    background: @tree-view-background-color;

    .selected:before {
        background: -webkit-linear-gradient(top, lighten(@tree-view-selection-color, 8%), @tree-view-selection-color);
        box-shadow: inset -2px 0 4px rgba(0,0,0,.3);
    }
}

.tree-view-resizer {
    .tree-view-resize-handle {
        width: 8px;
    }
}

.focusable-panel {
    opacity: 1;
    box-shadow: inset -1px -2px 10px rgba(0,0,0,.3);

    &:focus {
        background: @tree-view-background-color;

        .selected:before {
            background: -webkit-linear-gradient(top, lighten(@tree-view-selection-color, 9%), @tree-view-selection-color);
        }
    }
}

[data-show-on-right-side=true] {
    .focusable-panel,
    .tree-view .selected:before {
        box-shadow: inset 3px 0 0 rgba(0,0,0,.05);
    }
}
