@import "syntax-variables";

// Colors ---------------------------------------------------------------------
@white: #FFF;
@lightest-gray: #E3E9E6;
@lighter-gray: #93A1A1;
@light-gray: #969896;
@gray: #6C6C6C;
@dark-gray: #464444;
@darker-gray: #303030;
@darkest-gray: #2C2D2A;

@theme-red: #D82323;
@theme-orange: #FD971F;
@theme-yellow: #E6DB74;
@theme-green: #A6E22E;
@theme-blue: #52E3F6;
@theme-purple: #AE81FF;
@theme-magenta: #F92672;

@theme-text-color-accent: mix(@syntax-text-color, @white, 50%);
@theme-text-color: mix(@syntax-background-color, @theme-text-color-accent, 32%);
@theme-text-color-subtle: mix(@syntax-background-color, @theme-text-color-accent, 72%);
@theme-text-color-highlight: @white;


// Syntax-Theme Colors --------------------------------------------------------------

@theme-syntax-text-color: @syntax-text-color;
@theme-syntax-cursor-color: @syntax-text-color;
@theme-syntax-selection-color: lighten(@syntax-background-color, 10%);
@theme-syntax-background-color: @syntax-background-color;


// Background Colors ----------------------------------------------------------

@theme-background-color: @syntax-background-color;
@theme-background-color-dark: desaturate(darken(@syntax-background-color, 4%), 2%);
@theme-background-color-light: desaturate(lighten(@syntax-background-color, 6%), 2%);
@theme-background-color-highlight: @theme-background-color-light;
@theme-background-color-selected: @theme-background-color-light;

@background-color-info: @theme-blue;
@background-color-success: @theme-green;
@background-color-warning: @theme-orange;
@background-color-error: @theme-red;


// Text Colors ----------------------------------------------------------------

@text-color: mix(@syntax-background-color, @theme-text-color-accent, 32%);
@text-color-subtle: mix(@syntax-background-color, @theme-text-color-accent, 72%);
@text-color-highlight: @theme-text-color-highlight;
@text-color-selected: @theme-text-color-highlight;
@text-color-accent: mix(@theme-syntax-text-color, @white, 50%);

@text-color-info: @theme-blue;
@text-color-success: @theme-green;
@text-color-warning: @theme-orange;
@text-color-error: @theme-red;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @theme-purple;
@text-color-modified: @text-color-warning;
@text-color-removed: @text-color-error;


// Editor ---------------------------------------------------------------------

@base-border-color: @theme-background-color-dark;

@gutter-background-color: transparent;
@gutter-background-color-selected: transparent;
@gutter-text-color: @text-color-subtle;
@gutter-text-color-selected: @text-color-selected;
@indent-guide-color: @syntax-indent-guide-color;
@invisibles-color: @syntax-invisible-character-color;

@pane-item-background-color: @theme-background-color-light;
@pane-item-border-color: darken(@base-border-color, 5%);


// Site Colors ----------------------------------------------------------------

@ui-site-color-1: @background-color-success;
@ui-site-color-2: @background-color-info;
@ui-site-color-3: @background-color-warning;
@ui-site-color-4: @theme-magenta;
@ui-site-color-5: @theme-yellow;


// Component colors -----------------------------------------------------------
/// Tabs
@tab-background-color: darken(@theme-background-color-selected, 2%);
@tab-background-color-active: @theme-background-color;
@tab-background-color-hover: @base-border-color;
@tab-border-color: @base-border-color;
@tab-bar-background-color: darken(@theme-background-color, 4%);
@tab-bar-border-color: @base-border-color;
// Buttons
@button-background-color: @darker-gray;
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: @text-color;
@button-text-color: lighten(@text-color, 7%);
@button-border-color: @base-border-color;
// Input-fields
@input-background-color: @theme-background-color-light;
@input-border-color: darken(@text-color, 21%);
@input-background-color-active: @text-color;
@input-text-color-active: @theme-background-color;
// Panes
@pane-item-background-color: @theme-background-color-light;
@pane-item-border-color: @base-border-color;
// Panels
@panel-heading-background-color: @theme-background-color-light;
@panel-heading-border-color: fadein(@base-border-color, 10%);
@inset-panel-background-color: @theme-background-color-light;
@inset-panel-border-color: @base-border-color;
@tool-panel-background-color: lighten(@theme-background-color-dark, 2%);
@tool-panel-border-color: darken(@theme-background-color-light, 2%);
// Tree-view
@tree-background-color: lighten(#242524, .1%);
@tree-selection-color: darken(#393838, 5%);
@tree-border-color: @theme-background-color-light;
// Overlays
@overlay-background-color: @tool-panel-background-color;
@overlay-border-color: @base-border-color;
// Scrollbar
@scrollbar-color: -webkit-radial-gradient(lighten(@theme-background-color-selected, 3%), darken(@theme-background-color-selected, 2%));
@scrollbar-color-active: lighten(@theme-background-color-light, 0%);
@scrollbar-track-color: mix(@tree-background-color, darken(@theme-background-color, .7%), 40%);
// Status Bar
@status-bar-color: darken(@base-border-color, 2%);
// Tooltips
@tooltip-text-color: @theme-background-color;
@tooltip-background-color: @text-color;
@tooltip-key-text-color: @background-color-info;
@tooltip-key-background-color: @theme-background-color;


// Sizes ----------------------------------------------------------------------

@font-size: 13px;
@input-font-size: 14px;
@input-height: 32px;
@tree-font-size: @font-size;

@component-padding: 10px;
@component-icon-padding: 8px;
@component-icon-size: @tree-font-size + 5px;
@component-line-height: @component-icon-size + @component-icon-padding;
@component-border-radius: 3px;

@disclosure-arrow-size: 13px;


// Fonts ----------------------------------------------------------------------

@font-family:  'Open Sans', 'Lucida Grande', 'Segoe UI', sans-serif;
@font-family-bold:  'Open Sans', 'Lucida Grande', 'Segoe UI', sans-serif;
@font-family-light:  'Open Sans', 'Lucida Grande', 'Segoe UI', sans-serif;


// Plugins --------------------------------------------------------------------

@markdown-preview-text-color: darken(@darkest-gray, 15%);
@markdown-preview-background-color: lighten(@tree-background-color,75%);
@markdown-preview-border-color: mix(@syntax-text-color, @syntax-background-color, 20%);


// Other ----------------------------------------------------------------------

@transition-time: 500ms;
