 

.markdown-preview.markdown-preview {
    background-color: @markdown-preview-background-color;
    color: @markdown-preview-text-color;
    border: @markdown-preview-background-color solid @markdown-preview-border-color;
    .markdown-body {
        color: @markdown-preview-text-color;
        word-wrap: normal;
    }
}

.markdown-preview:not([data-use-github-style]) {
    strong {
        color: @markdown-preview-text-color;
    }
    a {
        color: darken(@theme-blue, 40%);
        font-weight: 600;
    }
    h1, h2, h3, h4, h5, h6 {
        color: @markdown-preview-text-color;
    }
}
